@font-face{
    font-family: "Gt";
    src: url("../fonts/Century Gothic Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

textarea{
    resize: none;
    border-radius: 5px;
}

header{
    width: 100wf;
    height: 50px;
    background-color: #ccc4b4;
    display: flex;
    justify-content: space-around;

}

header > div:nth-child(1){
    margin-top: 15px;
    height: 40px;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

header > div:nth-child(2){
    margin-top: 15px;
    height: 40px;
    width: 15%;
    display: flex;
    justify-content: space-around;
}

header > div:nth-child(1) > a{
    font-family: "Un";
    color: rgb(30,30,30);
    font-size: 1.5em;
    text-decoration: none;
}

header > div:nth-child(2) > a{
    color: #1c7364;
    text-decoration: none;
    font-size: 1.2em;
}



form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

form input{
    border-radius: 5px;
}

form div{
    margin: 7px;
}

form label{
    font-size: 16px;
}

form input[type=submit]{
    margin-top: 20px;
    width:200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #1c7364;
    font-size: 1.2em;
    color: white;
}

form input[type=submit]:hover{
    background: white;
    border: 3px solid #1c7364;
    color: #1c7364
}

form input[type=submit]:active{
    background: white;
    border: 3px solid #1c7364;
    color: #1c7364;
}

#login_form a{
    margin-top: 10px;
    color: #1c7364;
    text-decoration: none;
    font-size: 1.2em;
}

label[for=id_type_status], label[for=id_img]{
    display: none;
}

form div[id=div_id_type_status]{
    position: relative;
    right: 110px;
}

form div[id=div_id_img]{
    position: relative;
    left: 80px;
    bottom: 49px;
}

#my_projects_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.project_post{
    width: 800px;
    height: 300px;
    border-right: 4px solid #1c7364;
    border-left: 4px solid #1c7364;
    border-radius: 20px;
}









