@font-face{
    font-family: "Gt";
    src: url("../fonts/Century Gothic Regular.ttf");
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    width: 100wf;
    height: 50px;
    background-color: #ccc4b4;
    display: flex;
    justify-content: space-around;

}

header > div:nth-child(1){
    margin-top: 15px;
    height: 40px;
    width: 40%;
    display: flex;
    justify-content: space-around;
}

header > div:nth-child(2){
    margin-top: 15px;
    height: 40px;
    width: 15%;
    display: flex;
    justify-content: space-around;
}

header > div:nth-child(1) > a{
    font-family: "Un";
    color: rgb(30,30,30);
    font-size: 1.5em;
    text-decoration: none;
}

header > div:nth-child(2) > a{
    color: #1c7364;
    text-decoration: none;
    font-size: 1.2em;
}



#register_form, #login_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#register_form input, #login_form input{
    border-radius: 5px;
}

#register_form > div, #login_form div{
    margin: 7px;
}

#register_form label[for=id_checkbox], #login_form label[for=id_checkbox]{
    font-size: 12px;
}

#register_form input[type=submit], #login_form input[type=submit]{
    margin-top: 20px;
    width:200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background: #1c7364;
    font-size: 1.2em;
    color: white;
}

#register_form input[type=submit]:hover, #login_form input[type=submit]:hover{
    background: white;
    border: 3px solid #1c7364;
    color: #1c7364
}

#register_form input[type=submit]:active, #login_form input[type=submit]:active{
    background: white;
    border: 3px solid #1c7364;
    color: #1c7364;
}

#login_form a{
    margin-top: 10px;
    color: #1c7364;
    text-decoration: none;
    font-size: 1.2em;
}










