{% extends "base_gineric.html" %}

{% block title %}<title>Проекты</title>{% endblock %}

{% block content %}
<div id="my_projects_div">
    {% if Projects %}
        {% for project in Projects %}
            <div class="project_post">
                    <div class="picture_div_post">
                        <p class="project_name">{{project.name}}</p>
                        <img src="{{ project.img.url }}" alt="..." width="176" height="176">
                    </div>
                    <div class="description_div_post">
                        <p>Автор: {{ project.author.full_name }}</p>
                        <p>Дата: {{ project.apply_date }}</p>
                        <p>Тип: {{project.category}}</p>
                        {% if project.author == request.user %}
                            <a id="delete_btn" href="{% url 'delete_project' project.id %}">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            <div id="detail_description_div">
                <p style="font-size: 20px;">Описание:</p><br>
                <p id="description">{{project.description}}</p><br>
                <div id="change_status_btns_div">
                    <a href="{% url 'confirm_status_change' project.id 'i' %}" class="btn">Установить 'В процессе'</a>
                    <a href="{% url 'confirm_status_change' project.id 'd' %}" class="btn">Уставноить 'Сделано'</a>
                </div>

            </div>
        {% endfor %}
    {% else %}
        <p>Проектов со статусом 'Новый' нет!</p>
    {% endif %}
</div>
{% endblock %}