{% extends "base_gineric.html" %}

{% block title %}<title>Главная</title>{% endblock %}

{% block content %}
<div id="my_projects_div">
    <div id="filter_div">
        <p>Заявок_в_процессе: {{count_in_process}}</p>
    </div>
    {% if Project_list %}
        {% for project in Project_list %}
            <div class="project_post">
                <div class="picture_div_post">
                    <p class="project_name">{{project.title}}</p>
                    <img src="{{ project.img.url }}" alt="..." width="176" height="176">
                </div>
                <div class="description_div_post">
                    <p>Тип: {{project.category}}</p>
                    <p>Процесс: {{project.get_process_status_display}}</p>
                    <p>Дата: {{ project.apply_date }}</p>
                    <a class="show_detail" href="{% url 'detail_project' project.id %}">Подробно</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Здесь пока нет проектов</p>
    {% endif %}
</div>
{% endblock %}