{% extends "base_gineric.html" %}

{% block title %}<title>Delete confirm</title>{% endblock %}

{% block content %}
{% if  project.process_status == 'i' %}
  <div id="are_you_sure_div">
    <h1>Удалить заявку</h1>
    <p>Вы уверены, что хотите удалить заявку: {{ Project.name }}?</p>
  </div>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="submit" value="Да, удалить" />
  </form>
{% else %}
  <div id="back_to_projects_div">
    <p style="display: block; align-text: center; font-size: 3em">Проект невозможно удалить!</p>
    <a id="back_to_projects" href="{% url 'my_projects' 'All'%}">Мои проекты</a>
  </div>
{% endif %}
{% endblock %}