{% extends "base_gineric.html" %}

{% block title %}<title>Your projects</title>{% endblock %}

{% block content %}
<div id="my_projects_div">
    {% if Projects %}
        {% for project in Projects %}
            <div class="project_post">
                <div class="picture_div_post">
                    <p class="project_name">{{project.name}}</p>
                    <img src="{{ project.img.url }}" alt="..." width="176" height="176">
                </div>
                <div class="description_div_post">
                    <p>Тип: {{project.get_type_status_display}}</p>
                    <p>Процесс: {{project.get_process_status_display}}</p>
                    <a class="show_detail" href="{% url 'detail_project' project.id %}">Редактирование</a>
                </div>
            </div>
        {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% else %}
        <p>У вас пока нет проектов интерьеров</p>
    {% endif %}
</div>
{% endblock %}