{% extends "base_gineric.html" %}

{% block title %}<title>Your projects</title>{% endblock %}

{% block content %}
<div id="my_projects_div">
    {% if Projects %}
        {% for project in Projects %}
            <div class="project_post">
                <div class="picture_div_post">
                    <p class="project_name">{{project.name}}</p>
                    <img src="{{ project.img.url }}" alt="..." width="180" height="180">
                </div>
                <div class="description_div_post">
                    <p>Описание:</p>
                    <p class="project_description">{{project.description}}</p>
                    <p>Тип: {{project.get_type_status_display}}</p>
                    <p>Процесс: {{project.get_process_status_display}}</p>
                    <a class="del_post_button" href="{% url 'delete_project' project.id %}">Удалить проект</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>У вас пока нет проектов интерьеров</p>
    {% endif %}
</div>
{% endblock %}